html {
  font-size: 16px; }

/*----banner-----------------------------------------*/
/*the banner container contains
-banner-image and
-banner-searchbar

The banner container is a grid, positioning logo on the left part and search bar on the right end
*/
.banner-container {
  height: 4rem;
  width: auto;
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 2fr) 0.5fr; }

.banner-image {
  grid-column: 2/3; }

.banner-image img {
  width: auto;
  height: 3rem; }

.banner-searchbar {
  height: 2.5em;
  width: 15em;
  grid-column: 5/6;
  background-color: #dbdde0;
  display: flex;
  justify-content: center;
  align-self: center;
  border: transparent; }

.banner-searchicon {
  height: 1.6em;
  width: 2em;
  color: white;
  font-size: 1em;
  padding: 0.6em 0.25em 0.25em 0.25em;
  text-align: center;
  background-color: #335075; }

html {
  font-size: 16px; }

/*----header-----------------------------------------*/
/*Header class includes both Header and its child DropDownMenu styling.
*/
nav {
  height: 3rem;
  width: auto;
  background-color: #335075;
  border: 0.1rem solid #a1a9b5;
  display: grid;
  align-content: center;
  grid-template-columns: 0.5fr repeat(8, 1fr) 0.5fr; }

.drop-container {
  border: 0.1rem solid #a1a9b5; }

.drop-header {
  height: 2rem;
  width: auto;
  padding-top: 1rem;
  color: white; }

.drop-menu {
  text-align: center;
  vertical-align: middle;
  margin-right: 1em; }

.drop-icon {
  position: absolute;
  margin: 0 0.5em 0 0.3em; }

.drop-list {
  margin: 0;
  /*need to attach the list at the bottom of the header block*/
  position: absolute;
  z-index: 100;
  background-color: #c9ccd6;
  /*list-style-type: none;*/
  flex-flow: column;
  display: block;
  border-bottom: 0.2em solid #000; }

.drop-list-submenu {
  height: 1em;
  width: auto;
  padding: 0.25em; }

.drop-list-submenu:last-child {
  background-color: #a1a9b5;
  border: 0.1rem solid #a1a9b5; }

.drop-list :hover {
  background: #273156; }

html {
  font-size: 16px; }

/*---content ---*/
/*Content main inclues
-content-main-heading
-content-container
-content-more
-content-focus classes.
*/
.content-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.25em; }

.content-focus {
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-column-gap: 0.25em;
  grid-row-gap: 0.25em; }

.content-focus-title {
  grid-area: 1/1/2/4;
  margin: 0; }

.content-focus-article {
  grid-area: 2/1/3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em; }

.content-date {
  grid-area: 3/1/4/4; }

.content-more {
  text-decoration: underline;
  text-align: end;
  margin-right: 3rem; }

.content-more :hover {
  color: #3447af;
  cursor: pointer; }

.content-main-heading {
  margin-left: 2rem; }

.content-main-heading-title {
  border-bottom: 0.1rem solid #ad3e3e; }

.content-subitems a {
  text-decoration: underline; }

.content-subitems a :hover {
  color: #3447af;
  cursor: pointer; }

html {
  font-size: 16px; }

/*---------slider-------*/
/*Note: Slider component includes major in-line styling
(to ensure controlled behaviour of the component with respect to its functionalities)
*/
.slider-container {
  height: auto;
  width: auto;
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  background: #f2f3f7; }

.slider-image {
  height: 347px;
  width: 1170px;
  font-size: 146.25px;
  color: white;
  text-align: center;
  line-height: 347px; }

.slider-image-title {
  height: 50px;
  width: 1160px;
  color: #fff;
  font-size: larger;
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 10px; }

.slider-buttons {
  height: 60px;
  width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.slider-buttons-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.slider-buttons-image button {
  height: 40px;
  width: 150px;
  place-self: center; }

.slider-buttons-player {
  justify-self: end;
  align-self: center;
  padding-right: 20px; }

.slider-buttons-player button {
  height: 40px;
  width: 100px;
  background: white;
  border: transparent;
  border-radius: 50px;
  align-content: flex-end;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19); }

.slider-buttons-player button:hover {
  cursor: pointer;
  box-shadow: none; }

.slider-buttons-image button:hover {
  cursor: pointer; }

html {
  font-size: 16px; }

/********************footer***********************/
/*footer class encloses
-footer-btn
-footer-main-content and
-footer-container
*/
.footer-main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #dbdde0;
  justify-items: center;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em; }

.footer-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3em; }

.footer-btn button {
  width: 20em;
  height: 3em;
  cursor: pointer; }

.footer-btn-report {
  place-self: start; }

.footer-btn-share {
  place-self: end; }

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 1em;
  background-color: #f2f3f7; }

.footer-container img {
  height: 2em;
  width: auto; }

.footer-container-content {
  display: flex;
  justify-content: space-between; }

.footer-container-logo {
  place-self: end; }

.footer-container-content-links {
  cursor: pointer; }

.fa-circle {
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.5rem; }

/*currently: dummy page to display static content*/
.home-link {
  font-size: larger;
  margin: 2rem;
  text-decoration: underline; }

.home-link :hover {
  color: blue;
  cursor: pointer; }

.welcome-content {
  margin: 2rem;
  text-align: center;
  font-size: x-large; }

html {
  font-size: 16px; }

/* anchor tags are reset to enable customized operations.*/
a {
  all: unset; }

.app-lang {
  height: 2rem;
  width: auto; }

/*
TO DO:  @mediaquery for small screens.
*/

/*# sourceMappingURL=app.css.map */
