@import "banner";
@import "header";
@import "content";
@import "slider";
@import "footer";
@import "newpage";

html{
  font-size: 16px;
}

/* anchor tags are reset to enable customized operations.*/
a{
  all: unset;
}

.app-lang{
  height: 2rem;
  width: auto;
}

/*
TO DO:  @mediaquery for small screens.
*/

