html{
  font-size: 16px;
}

/*----banner-----------------------------------------*/
/*the banner container contains
-banner-image and
-banner-searchbar

The banner container is a grid, positioning logo on the left part and search bar on the right end
*/

.banner-container{
  height: 4rem;
  width: auto;
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 2fr) 0.5fr ;
}

.banner-image{
  grid-column: 2/3;
}
.banner-image img{
  width: auto;
  height: 3rem;
}

.banner-searchbar{
  height:2.5em;
  width: 15em;
  grid-column: 5/6;
  background-color: #dbdde0;
  display: flex;
  justify-content: center;
  align-self: center;
  border: transparent;
}
.banner-searchicon{
  height:1.6em;
  width: 2em;
  color:white;
  font-size: 1em;
  padding: 0.6em 0.25em 0.25em 0.25em;
  text-align: center;
  background-color: #335075;

}
