html{
  font-size: 16px;
}
/*---content ---*/
/*Content main inclues
-content-main-heading
-content-container
-content-more
-content-focus classes.
*/

.content-container{
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.25em;
}

.content-focus{
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-column-gap: 0.25em;
  grid-row-gap: 0.25em;
}

.content-focus-title{
  grid-area: 1/1/2/4;
  margin: 0;
}
.content-focus-article{
  grid-area: 2/1/3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;

}
.content-date{
  grid-area: 3/1/4/4;
}

.content-more{
  text-decoration: underline;
  text-align: end;
  margin-right: 3rem;
}
.content-more :hover{
  color: #3447af;
  cursor: pointer;
}

.content-main-heading{
  margin-left: 2rem;

}
.content-main-heading-title{
  border-bottom: 0.1rem solid #ad3e3e;
}

.content-subitems a {
  text-decoration: underline;
}

.content-subitems a :hover{
  color: #3447af;
  cursor: pointer;
}