/*---content ---*/
.content-container {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px; }

.content-focus {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

.content-focus-title {
  grid-area: 1/1/2/4; }

.content-focus-article {
  grid-area: 2/1/3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px; }

.content-date {
  grid-area: 3/1/4/4; }

/*# sourceMappingURL=content.css.map */
