html{
  font-size: 16px;
}


/********************footer***********************/

/*footer class encloses
-footer-btn
-footer-main-content and
-footer-container
*/
.footer-main-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #dbdde0;
  justify-items: center;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em;
}

.footer-btn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 3em;
}

.footer-btn button {
  width: 20em;
  height: 3em;
  cursor: pointer;
}
.footer-btn-report{
  place-self:start;
}

.footer-btn-share{
  place-self:end;
}

.footer-container{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 1em;
  background-color: #f2f3f7;
}

.footer-container img{
  height: 2em;
  width: auto;
}

.footer-container-content{
  display: flex;
  justify-content: space-between;
}
.footer-container-logo{
  place-self:end;
}

.footer-container-content-links{
  cursor: pointer;
}

.fa-circle{
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
}