/*******************************************/
.footer-main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #dbdde0;
  justify-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px; }

.footer-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px; }

.footer-btn button {
  width: 300px;
  height: 40px; }

.footer-btn-report {
  place-self: start; }

.footer-btn-share {
  place-self: end; }

.footer-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 10px; }

.footer-container img {
  height: 25px;
  width: auto; }

/*# sourceMappingURL=footer.css.map */
