/*----header-----------------------------------------*/
nav {
  height: 3rem;
  width: auto;
  background-color: #335075;
  border: 0.1rem solid #a1a9b5;
  display: grid;
  align-content: center;
  grid-template-columns: 0.5fr repeat(8, 1fr) 0.5fr; }

.drop-container {
  border: 0.1rem solid #a1a9b5; }

.drop-header {
  height: 2rem;
  width: auto;
  padding-top: 1rem;
  color: white; }

.drop-menu {
  text-align: center;
  vertical-align: middle;
  margin-right: 1em; }

.drop-icon {
  position: absolute;
  margin: 0 0.5em 0 0.3em; }

.drop-list {
  margin: 0;
  /*need to attach the list at the bottom of the header block*/
  position: absolute;
  z-index: 100;
  background-color: cadetblue;
  /*list-style-type: none;*/
  flex-flow: column;
  display: block;
  border-bottom: 0.2em solid #000; }

.drop-list-submenu {
  height: 1em;
  width: auto;
  padding: 0.25em; }

.drop-list-submenu:last-child {
  background-color: #a1a9b5;
  border: 0.1rem solid #a1a9b5; }

.drop-list :hover {
  background: red; }

/*# sourceMappingURL=header.css.map */
