/*currently: dummy page to display static content*/

.home-link{
  font-size: larger;
  margin: 2rem;
  text-decoration: underline;
}

.home-link :hover{
  color:blue;
  cursor: pointer;
}

.welcome-content{
  margin: 2rem;
  text-align: center;
  font-size: x-large;
}
