html{
  font-size: 16px;
}
/*---------slider-------*/

/*Note: Slider component includes major in-line styling
(to ensure controlled behaviour of the component with respect to its functionalities)
*/

$slider-width: 1170px;

.slider-container{
  height: auto;
  width: auto;
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  background: #f2f3f7;
}
.slider-image{
  height: 347px;
  width: $slider-width;
  font-size: $slider-width/8;
  color: white;
  text-align: center;
  //vertical-align: middle;
  line-height: 347px;
}

.slider-image-title{
  height: 50px;
  width: $slider-width - 10px;
  color:#fff;
  font-size: larger;
  text-decoration: underline;
  padding-top: 10px;
  padding-left: 10px;

}

.slider-buttons{
  height: 60px;
  width: $slider-width;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.slider-buttons-image{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.slider-buttons-image button{
  height: 40px;
  width: 150px;
  place-self:center;
}
.slider-buttons-player{
  justify-self: end;
  align-self: center;
  padding-right: 20px;
}
.slider-buttons-player button{
  height: 40px;
  width: 100px;
  background: white;
  border: transparent;
  border-radius: 50px;
  align-content: flex-end;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);

}
.slider-buttons-player button:hover{
  cursor:pointer;
  box-shadow: none;
}
.slider-buttons-image button:hover{
  cursor:pointer;
}