/*---------slider-------*/
.slider-container {
  height: auto;
  width: auto;
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  flex-flow: column; }

.slider-image {
  height: 347px;
  width: 1170px; }

.slider-image-title {
  height: 50px;
  width: 1170px;
  background-color: black; }

.slider-buttons {
  height: 60px;
  width: 1170px;
  background-color: greenyellow;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.slider-buttons-image {
  background: moccasin;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.slider-buttons-image button {
  height: 40px;
  width: 150px;
  background: #45e7ff;
  place-self: center; }

.slider-buttons-player {
  justify-self: end;
  align-self: center;
  padding-right: 20px; }

.slider-buttons-player button {
  height: 40px;
  width: 100px;
  background: white;
  border: transparent;
  border-radius: 50px;
  align-content: flex-end;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19); }

.slider-buttons-player button:hover {
  cursor: pointer;
  box-shadow: none; }

.slider-buttons-image button:hover {
  cursor: pointer; }

/*# sourceMappingURL=slider.css.map */
